aiohttp~=3.11.12
loguru~=0.7.3
SQLAlchemy~=2.0.38
asyncpg~=0.30.0
aiosqlite~=0.21.0
psycopg~=3.2.5
psycopg_binary~=3.2.5
alembic~=1.15.1
pydantic~=2.10.6
pydantic-settings~=2.8.1
aiogram-calendar~=0.6.0
starlette~=0.46.0
aiogram~=3.19.0
passlib~=1.7.4
bcrypt==4.0.1
xlsxwriter~=3.2.2
APScheduler~=3.11.0
pandas~=2.2.3
cachetools~=5.5.2